* {
    margin: 5px;
}
header{
    background: fixed;
    text-align-last: center;
    border: 2px;
    height: 200px;
    width: auto;
    border-style: solid;
    border-radius: 10px;
}
header p h1 {
    text-align: center;
}
.div1 {
    height: 300px;
    width: auto;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: inline-flex;
    margin: 5px;
    border-radius: 10px;
}
div {
    border: 2px;
    height: 250px;
    width: 400px;
    border-style: solid;
    margin: 23px;
    border-radius: 10px;
}
.div2 {
    height: 300px;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}